:root {
  --main-font: 'M PLUS 1';
  --code-font: 'Fira Code';
  --font-size: 10px;
  --border-radius: 4px;
}

@media screen and (min-width: 700px) {
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  *::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: #888;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  font-family: var(--main-font), sans-serif;
  line-height: 1.5;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  border-right: solid gray;
  height: 100%;
}

nav header {
  font-weight: 500;
  text-align: center;
  padding: 0.5rem;
  font-size: 2rem;
}

nav ul {
  height: 100%;
  list-style-type: none;
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  overflow: hidden auto;
}

nav ul li {
  color: #4d4e53;
  border-top: 1px solid;
  list-style: none;
}

nav ul li a {
  display: block;
  padding: 10px 30px;
  color: #4d4e53;
  text-decoration: none;
}

nav ul li a:hover {
  color: darkgray;
}

main {
  margin-left: 320px;
}

@media screen and (max-width: 700px) {
  nav {
    position: absolute;
    width: 100%;
    height: 30%;
  }

  main {
    margin: 300px 0 0 0;
  }

  nav ul {
    border-bottom: 1px solid;
    border-top: 1px solid;
  }
}

section header {
  font-size: 2.1rem;
  font-weight: 500;
  margin: 0.5em 0.25em;
}

section article {
  font-size: 1.6rem;
  line-height: 1.4;
  opacity: 0.8;
  margin: 0.25rem 1rem;
}

article code {
  display: block;
  white-space: pre-line;
  font-weight: 100;
  font-size: 1.4rem;
  font-family: var(--code), monospace;
  background: #f7f7f7;
  margin: 1rem;
  padding: 1rem;
  border-radius: var(--border-radius);
}

article ul li {
  margin: 1rem 0;
}
