:root {
  --heart-color: pink;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: monospace;
  font-size: 10px;
  color: white;
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 55%;
  }
}

body {
  background: linear-gradient(35deg, #ccfffc, #ffcccf);
  width: 100vw;
  height: 100vh;
}

body::before {
  content: '';
  animation: back 1s infinite;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
}

@keyframes back {
  50% {
    background: #ffccea;
  }
}

.title {
  animation: colorful 3s infinite;
  font-size: 3rem;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 5px;
  background: lightcoral;
}

@keyframes colorful {
  25% {
    background: red;
  }

  50% {
    background: green;
  }

  75% {
    background: blue;
  }
}

.heart {
  animation: beating 1s infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 10rem;
  height: 10rem;
  background: var(--heart-color);
  transform: rotate(-45deg);
}

@keyframes beating {
  50% {
    transform: rotate(-45deg) scale(1.5);
  }
}

.heart::before {
  content: '';
  position: absolute;
  background: var(--heart-color);  
  width: 10rem;
  height: 10rem;
  bottom: 5rem;
  border-radius: 50%;
}

.heart::after {
  content: '';
  position: absolute;
  background: var(--heart-color);  
  width: 10rem;
  height: 10rem;
  left: 5rem;
  border-radius: 50%;
}

.footer {
  color: coral;
  font-size: 2rem;
  margin-top: auto;
  align-self: flex-start;
  padding: 1rem;
}
