:root {
  --font-size: 10px;
  --font-family: Roboto, sans-serif;
  --border-radius: 8px;
}

html {
  font-size: var(--font-size);
  font-family: var(--font-family);
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 60%;
  }
}

@media screen and (max-width: 980px) {
  html {
    font-size: 58%;
  }
}

@media screen and (max-width: 480px) {
  html {
    font-size: 55%;
  }
}

body {
  font-size: 1.6rem;
  font-weight: 200;
}

main {
  background: hsl(0, 0%, 93%);
  border-radius: var(--border-radius);
  margin-top: 0;
  color: hsl(0, 0%, 30%);
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#title {
  font-size: 3.2rem;
  margin-top: 5rem;
  color: hsl(0, 0%, 20%);
}

.subtitle {
  margin: auto 2rem 0 2rem;
}

.center-text {
  text-align: center;
}

#img-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  background: white;
  padding: 1rem;
  margin: 2rem;
}

#image {
  border-radius: inherit;
  max-width: 100%;
  height: auto;
}

#img-caption {
  text-align: center;
  font-size: 1.5rem;
}

#tribute-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  max-width: 600px;
  margin: auto;
}

.timeline {
  line-height: 3rem;
  margin: 1.5rem;
}

.timeline-title {
  font-size: 1.9rem;
}

.timeline li {
  padding: 0.5rem;
}

.quote {
  background: hsl(0, 0%, 80%);
  border-radius: var(--border-radius);
  padding: 1rem;
}

.quote figcaption,
.quote blockquote {
  margin: 2rem;
}

blockquote::before {
  content: open-quote;
}
blockquote::after {
  content: close-quote;
}

.tribute-link {
  font-size: 1.8rem;
  margin: 0 2rem;
  padding-bottom: 2rem;
}
