@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-white: #f0f0f0;
  --main-red: #be3144;
  --main-blue: #45567d;
  --main-gray: #303841;
  --about-bg: linear-gradient(62deg, #3a3d40, #181719);
}
