nav {
  width: 100%;
  position: fixed;
  background-color: var(--main-red);
  padding: 1rem;

  ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @media screen and (max-width: 48rem) {
      justify-content: center;
    }

    li {
      width: 10rem;
      margin-right: 1rem;
      padding: 1rem;
      transition: 200ms ease-in-out;
      border-radius: var(--border-radius);
      text-align: center;

      &:hover {
        background-color: var(--main-blue);
      }
    }
  }
}
